div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 8px;
}

div.scrollmenu a.cover {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    vertical-align: top;
    background-color: #444;
}

div.scrollmenu a.cover:hover {
    background-color: #777;
}


div.scrollmenu a.cover .thumb {
    width: 267px; 
    height: 400px; 
    overflow: hidden;
    border-radius: 4px;
    display: block;
    margin-bottom: 8px;
    background: #222;
}


div.scrollmenu a.cover .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.15s ease; 
    transform-origin: center center;
}


div.scrollmenu a.cover:hover .thumb img {
    transform: scale(1.1);
}

div.scrollmenu a.cover .text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700; 
    font-size: 1.05rem; 
    line-height: 1.2;
    color: #ffffff;
}

div.scrollmenu a.cover:hover .text {
    color: #3f3f3f;
}



div.scrollmenu a.cover .release-year{
    color: #bdbdbd; 
    font-size: 0.9rem;
    margin-top: 2px;
    font-weight: 500;
}